@font-face{
	font-family: RG;
	font-display: swap;
	src: url("../fonts/RG-StandardBold.woff2") format("woff2"), url("../fonts/RG-StandardBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: pt;
	font-display: swap;
	src: url("../fonts/pt-root-ui_bold.woff2") format("woff2"), url("../fonts/pt-root-ui_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: pt;
	font-display: swap;
	src: url("../fonts/pt-root-ui_regular.woff2") format("woff2"), url("../fonts/pt-root-ui_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
